/*responsivel até 305px de width*/

#macro
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main
{
    display: flex;
    min-height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-top: 130px;
    margin-bottom: 50px;
}

.bloco-info
{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background:linear-gradient(90deg, #2c3e50 0%,#3498db 100% );
    border-radius: 15px;
    width: 80%;
}

.bloco-info li
{
    margin-top: 5px;
    margin-bottom: 5px;
}
.info-pessoais
{
    margin: 10px;
    padding: 0px;
    list-style: none;
    color: white;
}

.dados
{
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.campos
{
    font-weight: bolder;
}

.campos span
{
    font-weight: normal;
}

@media screen and (max-width: 624px)
{
    .dados
    {
        flex-direction: column;
        align-items: center;
    }
    .img-perfil
    {
        margin-top: 0px;
        margin-right: 0px;
    }

    .curriculo
    {
        height: 300px;
    }
}

@media screen and (max-width: 692px)
{
    .bloco-info
    {
        width: 100%;
        border-radius: 0px;
        padding: 30px 0px;
    }
}

.btn-outline-secondary
{
    margin-top: 15px;
}

.botoes .btn-outline-secondary a
{
    text-decoration: none;
    font-weight: bolder;
}

.img-perfil
{
    margin-top: 20px;
    margin-right: 20px;
}

.curriculo
{
    margin-top: 30px;
}