#macro{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/*-------------------------------------------------*/
.main
{
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    flex-grow: 1;
    padding: 3% 5%;
}

    p{
        font-size: 20px;
        font-weight: normal;
    }

    .sobre .img-conteudo
    {
        margin: auto;
        width: 50vw;
    }

    @media screen and (max-width: 559px)
    {
        .sobre .img-conteudo
        {
            margin: auto;
            width: 80vw;
        }
    }
/*-------------------------------------------------*/