.macro{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
}

.navbar{
    position: fixed;
    width: 100vw;
    height: 10vh;
    margin-bottom: 10vh;
    z-index: 2;
    padding: 0px 0px;
    justify-content: space-around;
}

.navbar .fa-user-circle{
    font-size: 40px;
    margin-right: 10%;
    
}

.meio{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    width: 100%;
}

.cont{
    width: 100%;
    padding: 25px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    min-height: 90vh;
}

.cont-lateral{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12vh;
    background-color: white;
    position: fixed;
    box-shadow: 1px 3px 5px black;
}

.cont-lateral h2{
    margin-left: 10%;
    width: 100%;
}

#menu-lateral{
    display: none;
}

#icone{
    cursor: pointer;
    position: fixed;
    z-index: 1;
    margin-left: 20px;
}

.fa-user-circle:before {
    content: "\f2bd";
    font-size: 35px;
    background-color: rgb(248, 249, 250);
    border-radius: 10px;
}

.barra{
    position: fixed;
    left: -1200px;
    transition: all 0.4s linear;
    background-color: white;
    width: 40%;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgb(34, 32, 32);
}

@media screen and (min-width: 1001px){
    .areafunc{
        margin-left: 100px;
    }
}

@media screen and (max-width: 1001px){

    .logo{
        height: 8vh;
        margin: 0px;
    }

        .barra{
        position: fixed;
        left: -1200px;
        transition: all 0.4s linear;
        background-color: white;
        width: 100%;
        border-radius: 5px;
        box-shadow: 2px 2px 8px rgb(34, 32, 32);
    } 
    .nav-link{
        margin-left: 60px;
    }

    .cont-lateral{
        width: 100%;
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        height: 12vh;
        background-color: white;
        box-shadow: 1px 3px 5px black;
    }
    
    .nav-link{
        margin-left: 60px;
        z-index: 2;
        background-color: white;
        width: 100%;
        margin-left: 0px;
    }
    
    .cont-lateral h2{
        margin-left: 20%;
        width: 100%;
    }
}

.barra nav{
    margin-top: 60px;
    width: 100%;
    max-height: 80vh;
    overflow: auto;
}
#menu-lateral:checked ~ .barra {
    transform: translateX(1200px);
}
.barra nav ul li{
    margin-left: 25px;
    list-style-type: none;
    margin-top: 20px;
    margin-left: 20px;
}

.barra nav ul{
    margin-left: 0px;
    padding: 0px;
    list-style-type: none;
}

.fa-bars{
    font-size: 35px;
}

.logo{
    height: 8vh;
    margin-left: 5px;
}

.navbar-toggler {
    padding: 5px 5px;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

@media screen and (max-width: 1001px){
    .cont-lateral h2 {
        margin-left: 25%;
        width: 100%;
    }
}
.rodape{
    background: linear-gradient(rgb(25, 219, 254),rgb(113, 92, 186));
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
}


.rodape ul{
    list-style:none;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.rodape ul li{
    display: inline;
    margin-left: 5%;
}

.rodape ul li img{
    margin-right: 10%;
}

.nav-link{
    margin-left: 60px;
    z-index: 2; 
    width: 100%;
    margin-left: 0px;
}

.navbar-nav .nav-link {
    padding-right: 10px;
    padding-left: 10px;
}

footer
{
    background: linear-gradient(rgb(25, 219, 254),rgb(113, 92, 186));
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p{
    margin: 0px;
    color: white;
}