/*responsivel até 220px de width*/

footer
{
    background:linear-gradient(90deg, #02111d 0%,#037bb5 50%,#02111d 100% );   
    width: 100%;
    align-items: center;
    color: white;
    font-weight: 500;
    align-items: center;
}

footer p
{
    text-align: center;
    margin: 0px;
    padding: 0px;
}